/*
TaskForm / PageForm / ConfirmDelete
*/

.ui-form__group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: none;
  padding: 0;
  margin: 0;
}
.ui-form__label{
  color: var(--body-text);
}
.ui-form__input {
  background: var(--input-bg);
  border: 1px solid var(--input-border-normal);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  color: var(--body-text);
  cursor: text;
  outline: none;
}
.ui-form__input:focus-visible {
  border-color: var(--input-focus);
}
.ui-form__actions{
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 1rem;
}

.ui-form__options{
  gap: 0.3rem;
  margin: 0rem;
  padding: 0.5rem 0rem 0rem 1rem;
}
.ui-form__option {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.ui-form__option input {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid var(--border-default);
  background: transparent;
  cursor: pointer;
}
.ui-form__option label {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.ui-form__option input:hover {
  border-color: var(--border-hover);
}
.ui-form__option input:checked {
  border-color: var(--accent);
}
.ui-form__option input:checked::after{
  content: "";
  width: 8px;
  height: 8px;
  background: var(--accent);
  border-radius: 50%;
  display: block;
  margin: 2px auto;
}
.ui-form__option input:focus-visible{
  outline: 2px solid var(--accent);
  outline-offset: 3px;
}