/* ------- header box and buttons -------- */

.header{
  position: fixed;
  top: 0rem;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content:space-between;
  gap: 0.5rem;
  background-color:var(--color-header-bg);
  padding: 0.3rem 0.5rem;
  box-shadow: 0 2px 6px var(--header-shadow);
  z-index: 1000;
}

.header__logo img{
   width: 145px; 
}

.header__actions{
 display: flex;
 align-items: center;
 padding: 0.3rem;
 background: transparent;
}

.header-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
}

.header-btn:hover {
  background: var(--color-bg-hover);
}

.header-btn:active {
  transform: translateY(1px);
  box-shadow: 0 0 1px var(--btn-shadow);
}

.header-btn:disabled{
  opacity: 0.4;
  cursor: not-allowed;
}

.header-btn:focus-visible{
  outline: 2px solid var(--accent);
  outline-offset: 1px;
}

/* Modificadores */
.header-btn--square{
  width: 2.75rem;   
  height: 2.75rem;
} 

.header-btn__icon{
  width: 2rem;
  height: 2rem;
}

