
/*
EXCLUSIVO de Header
*/
.header{
  /*
  position: fixed;
  top: 0;
  inset-inline: 0;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  */
  position: fixed;
  top: 0rem;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content:space-between;
  gap: 0.5rem;
  background-color:var(--color-header-bg);
  padding: 0.3rem 0.5rem;
  box-shadow: 0px 1px 0 var(--header-shadow);
  height: var(--header-height);
  z-index: 1000;
  
}
.header__logo img{
   width: 145px; 
}
.header__actions{
  /*
  display: flex;
  gap: .5rem;
  */
 display: flex;
 align-items: center;
 padding: 0.3rem;
 background: transparent;
 
}
.header__pack{
  display: flex;
  flex-direction: row;
}